body{
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    
}
h2.pos_left {
    position: relative;
    left: -30px;
}
  
h2.pos_right {
    position: relative;
    left: 50px;
}
#fixed {
    position: fixed;
    border: 1px solid blue;
    background-color: rgba(255,200,200,0.5);  
    width: 300px;
    height:50px;
    bottom: 0;
    left: 0;
    right: 0;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
.center {
    text-align: center;
    border: 3px solid green;
}
#relative{
    position: relative;
    border: 1px solid blue;
    width: 300px;
    height: 100px;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}